<div class="page-header">
  <h3>Req Receiver #<%= @req_receiver.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Student</dt>
      <dd>
        <% if @req_receiver.student.present? %>
          <a href="/students/<%= @req_receiver.student_id %>">
            <%= @req_receiver.student.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/req_receivers" class="btn btn-primary">
        Back
      </a>
      <a href="/req_receivers/<%= @req_receiver.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_req_receiver/<%= @req_receiver.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
