<!-- Validation failure messages -->
<% if @team.errors.any? %>
  <% @team.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Team #<%= @team.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_team/<%= @team.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for course_id -->
      <div class="form-group">
        <label for="course_id" class="control-label">
          Course
        </label>

        <%= select_tag(:course_id, options_from_collection_for_select(Course.all, :id, :title, @team.course_id), :class => "form-control") %>
      </div>

      <!-- Label and input for team_name -->
      <div class="form-group">
        <label for="team_name" class="control-label">
          Team name
        </label>

        <input type="text" id="team_name" name="team_name" placeholder="Team name" class="form-control" value="<%= @team.team_name %>">
      </div>

      <button class="btn btn-warning">
        Update Team
      </button>
      or
      <a href="/teams/<%= @team.id %>">Cancel</a>
    </form>
  </div>
</div>
