<div class="page-header">
  <h3>Quarter #<%= @quarter.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/quarters" class="btn btn-primary">
        Back
      </a>
      <a href="/quarters/<%= @quarter.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_quarter/<%= @quarter.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Quarter has many sessions -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Sessions
      </li>

      <% @quarter.sessions.each do |session| %>
        <li class="list-group-item">
          <a href="/sessions/<%= session.id %>">
            <%= session.course_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/sessions/<%= session.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/sessions/<%= session.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_session/<%= session.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_session" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for course_id -->
      <div class="form-group">
        <label for="course_id" class="control-label">
          Course
        </label>

        <%= select_tag(:course_id, options_from_collection_for_select(Course.all, :id, :title), :class => "form-control") %>
      </div>

      <!-- Label and input for quarter_id -->
      <input type="hidden" name="quarter_id" value="<%= @quarter.id %>">

      <button class="btn btn-block btn-success">
        Create Session
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Quarter has many courses -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Courses
      </li>

      <% @quarter.courses.each do |course| %>
        <li class="list-group-item">
          <a href="/courses/<%= course.id %>">
            <%= course.title %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/courses/<%= course.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/courses/<%= course.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_course/<%= course.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
