<div class="page-header">
  <h3>Session #<%= @session.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Course</dt>
      <dd>
        <% if @session.course.present? %>
          <a href="/courses/<%= @session.course_id %>">
            <%= @session.course.title %>
          </a>
        <% end %>
      </dd>

      <dt>Quarter</dt>
      <dd>
        <% if @session.quarter.present? %>
          <a href="/quarters/<%= @session.quarter_id %>">
            <%= @session.quarter.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/sessions" class="btn btn-primary">
        Back
      </a>
      <a href="/sessions/<%= @session.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_session/<%= @session.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
