<div class="page-header">
  <h3>Course #<%= @course.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @course.title %></dd>

      <dt>Course number</dt>
      <dd><%= @course.course_number %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/courses" class="btn btn-primary">
        Back
      </a>
      <a href="/courses/<%= @course.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_course/<%= @course.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Course has many registrations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Registrations
      </li>

      <% @course.registrations.each do |registration| %>
        <li class="list-group-item">
          <a href="/registrations/<%= registration.id %>">
            <%= registration.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/registrations/<%= registration.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/registrations/<%= registration.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_registration/<%= registration.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_registration" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for course_id -->
      <input type="hidden" name="course_id" value="<%= @course.id %>">

      <button class="btn btn-block btn-success">
        Create Registration
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Course has many sessions -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Sessions
      </li>

      <% @course.sessions.each do |session| %>
        <li class="list-group-item">
          <a href="/sessions/<%= session.id %>">
            <%= session.course_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/sessions/<%= session.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/sessions/<%= session.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_session/<%= session.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_session" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for course_id -->
      <input type="hidden" name="course_id" value="<%= @course.id %>">

      <!-- Label and input for quarter -->
      <div class="form-group">
        <label for="quarter" class="control-label">
          Quarter
        </label>

        <input type="text" id="quarter" name="quarter" placeholder="Quarter" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Session
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Course has many students -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Students
      </li>

      <% @course.students.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
